<header><h1>Upload your filez!</h1></header>

  <form method="post" action="/upload" enctype="multipart/form-data">
    <input type="file" name="userfile">
  <input type="submit" name="testfile" value="Upload">
</form>
